.App {
  text-align: center;
  
}

.title {
  color: Mediumblue; 
}

label {
  color: mediumblue;
}

input {
  width: 200px;
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box;  
  border: 1px solid MediumBlue;
  border-radius: 4px;
}

form {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

button {
  background-color: lightgray;
  border: 1px solid mediumblue;
  padding: 10px 15px;
  font-size: 16px;
  color: mediumblue;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.12), 0 2px 2px 1px rgba(0, 0, 0, 0.24);
  transition: all 0.2 ease-in;
}

.member-list {
  display: flex;
  flex-wrap: wrap;
}

.member {
  background-color: mediumblue;
  box-shadow: 0 5px 10px black;
  width: 100%;
  max-width: 250px;
  padding: 10px;
  margin: 15px auto;
  /* text-align: left; */
  color: white;
}


